<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DieHard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">

    <link rel="shortcut icon" href="css/favicon.png" type="image/x-icon">
    <link rel="icon" href="css/favicon.png" type="image/x-icon">

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>

    <link rel="stylesheet/less" href="css/login.less">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/10ffd9cc1b.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="logo-box">
        <div class="logo"></div>
    </div>

    <p class="tag-id">아이디 입력</p>
    <input type="text" class="input id" placeholder="아이디 입력">

    <p class="tag-id">비밀번호 입력</p>
    <input type="text" class="input ps" placeholder="비밀번 입력">

    <div class="btn-box">
        <div class="login">로그인</div>
        <div class="signup">회원가입</div>
    </div>

    <script src="js/login.js"></script>
</body>
</html>