<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DieHard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">

    <link rel="shortcut icon" href="css/favicon.png" type="image/x-icon">
    <link rel="icon" href="css/favicon.png" type="image/x-icon">

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>

    <link rel="stylesheet/less" href="css/mb.less">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/10ffd9cc1b.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="header-box">
            <p>내기 추가하기</p>
        </div>
    </div>
    <div class="friend-content">
        <div class="profile">
            <div class="img"></div>
        </div>
        <div class="name-data">
            <h5>친구 이름</h5>
            <p>이장훈</p>
            <div class="btn-list">
                <div class="random">랜덤매칭 돌리기</div>
                <div class="add">추가하기</div>
                <div class="cancel">취소하기</div>
            </div>
        </div>
    </div>

    <p class="tag-id">목표 거리</p>
    <input type="text" class="input name" placeholder="목표거리 입력">

    <p class="tag-id">보상 입력</p>
    <input type="text" class="input id" placeholder="보상 금액 입력 (보상의 50%는 기부금으로 전환됩니다">

    <p class="tag-id">멘트 입력</p>
    <input type="text" class="input ps" placeholder="멘트 입력">

    <div class="btn-list">
        <div class="start">
            내기 시작하기
        </div>
        <div class="cancel">
            내기 취소하기
        </div>
    </div>
</body>
</html>